/* =========================================
   reset css
   ========================================= */

/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */

/* Latest tested: Android 6, Chrome 48, Edge 13, Firefox 44, Internet Explorer 11, iOS 9, Opera 35, Safari 9, Windows Phone 8.1 */

/*
 * Normalization
 */

abbr[title] {
	text-decoration: underline; /* Chrome 48+, Edge 12+, Internet Explorer 11-, Safari 9+ */
	text-decoration: underline dotted; /* Firefox 40+ */
}

audio:not([controls]) {
	display: none; /* Chrome 44-, iOS 8+, Safari 9+ */
}

b,
strong {
	font-weight: bolder; /* Edge 12+, Safari 6.2+, and Chrome 18+ */
}

button {
	-webkit-appearance: button; /* iOS 8+ */
	overflow: visible; /* Internet Explorer 11- */
}


button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;/* Firefox 4+ */
	padding: 0;/* Firefox 4+ */
}

button:-moz-focusring, input:-moz-focusring {
	outline: 1px dotted ButtonText;/* Firefox 4+ */
}

button,
select {
	text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

details {
 	display: block; /* Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

html {
	-ms-overflow-style: -ms-autohiding-scrollbar; /* Edge 12+, Internet Explorer 11- */
	overflow-y: scroll; /* All browsers without overlaying scrollbars */
	-webkit-text-size-adjust: 100%; /* iOS 8+, Windows Phone 8.1+ */
	min-width: 1200px;
	color: #555;
}

hr {
	overflow: visible; /* Internet Explorer 11-, Edge 12+ */
}

input {
	-webkit-border-radius: 0 /* iOS 8+ */
}

input[type="button"],
	input[type="reset"],
	input[type="submit"] {
	-webkit-appearance: button;/* iOS 8+ */
}

input[type="number"] {
 	width: auto;/* Firefox 36+ */
}

input[type="search"] {
	-webkit-appearance: textfield;/* Chrome 45+, Safari 9+ */
}

input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;/* Chrome 45+, Safari 9+ */
}

main {
	display: block;
	padding-top: 95px; /* Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+ */
}

pre {
	overflow: auto; /* Internet Explorer 11- */
}

progress {
	display: inline-block; /* Internet Explorer 11-, Windows Phone 8.1+ */
}

summary {
	display: block; /* Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */
}

svg:not(:root) {
	overflow: hidden; /* Internet Explorer 11- */
}

template {
	display: none; /* Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+ */
}

textarea {
	overflow: auto; /* Edge 12+, Internet Explorer 11- */
}

[hidden] {
	display: none; /* Internet Explorer 10- */
}

/*
 * Universal inheritance
 */

*,
:before,
:after {
	box-sizing: inherit;
}

* {
	font-size: inherit;
	line-height: 1.7;
}

:before,
:after {
	text-decoration: inherit;
	vertical-align: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
}



/*
 * Opinionated defaults
 */

/* specify the margin and padding of all elements */

* {
	margin: 0;
	padding: 0;
}

/* specify the border style and width of all elements */

*,
:before,
:after {
	border-style: solid;
	border-width: 0;
}

/* remove the tapping delay from clickable elements */

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
	-ms-touch-action: manipulation;
		touch-action: manipulation;
}

/* specify the standard appearance of selects */

select {
	-moz-appearance: none;    /* Firefox 40+ */
	-webkit-appearance: none /* Chrome 45+ */
}

select::-ms-expand {
	display: none;/* Edge 12+, Internet Explorer 11- */
}

select::-ms-value {
	color: currentColor;/* Edge 12+, Internet Explorer 11- */
}

/* use current current as the default fill of svg elements */

svg {
	fill: currentColor;
}

/* specify the progress cursor of updating elements */

[aria-busy="true"] {
	cursor: progress;
}

/* specify the pointer cursor of trigger elements */

[aria-controls] {
	cursor: pointer;
}

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
	cursor: default;
}

/* specify the style of visually hidden yet accessible elements */

[hidden][aria-hidden="false"] {
	clip: rect(0 0 0 0);
	display: inherit;
	position: absolute;
}

[hidden][aria-hidden="false"]:focus {
	clip: auto;
}



/*
 * Configurable defaults
 */

/* specify the background repeat of all elements */

* {
	background-repeat: no-repeat;
}

/* specify the text decoration of anchors */

a, a:hover, a:visited{
	text-decoration: none;
}

/* specify the alignment of media elements */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/* specify the coloring of form elements */

button,
input,
select,
textarea {
	background-color: transparent;
	color: inherit;
}

/* specify the minimum height of form elements */

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
	min-height: 1.5em;
}

/* specify the font family of code elements */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
}

/* specify the list style of nav lists */

nav ol,
nav ul {
	list-style: none;
}

/* specify the font size of small elements */

small {
	font-size: 75%;
}

/* specify the border styling of tables */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* specify the resizability of textareas */

textarea {
	resize: vertical;
}

/* specify the background color, font color, and drop shadow of text selections */

::-moz-selection {
	background-color: #b3d4fc; /* required when declaring ::selection */
	color: #ffffff;
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* required when declaring ::selection */
	color: #ffffff;
	text-shadow: none;
}


/* =========================================
   all
   ========================================= */
 h2{
 	margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-family: "Angelina","Hannari";
    font-weight: 100;
}

h2 img:first-child {
    padding: 0 30px;
    margin-top: -30px;
}

h2 img:last-child {
    padding: 0 30px;
    margin-top: 0;
}

.wrapper{
	overflow: hidden;
	width: 1100px;
	margin: 0 auto;
	padding: 70px 0;
}

@font-face {
   font-family: Angelina;
   src: url('angelina.TTF') format("opentype");
}

@font-face {
   font-family: Hannari;
   src: url('Hannari.otf') format("opentype");
}

.aicotoba {
    letter-spacing: 6px;
    vertical-align: 4px;
    margin-left: 4px;
}

/* =========================================
   header
   ========================================= */
header{
	position: fixed;
	height: 95px;
	width: 100%;
	background-color:#a2907b;
	color: #fff;
	opacity: 0.95;
	z-index: 1000000;
}

.header_wrapper{
	width: 1100px;
	margin: 0 auto;
}

h1{
	display: inline-block;
	margin-right: 20px;
	font-size: 60px;
	font-family: Angelina;
	font-weight: 100;
	letter-spacing: 6px;
}


header span {
    vertical-align: 5px;
}

.btn {
    float: right;
	padding: 10px 50px 10px 53px;
    margin-top: 20px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 4px;
}

.btn:hover{
	background-color: #fff;
	color: #666;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}


/* =========================================
   index02
   ========================================= */
.wrapper_intro{
	overflow: hidden;
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	padding-bottom:90px;
	text-align: center;
}

.intro_header{
	height: 130px;
	background-color:rgba(0,0,0,0);
	color: #48433e;
	position: relative;
}

.intro_main{
	padding-top: 50px;
}

.intro_header_wrapper{
	width: 1100px;
	margin: 40px auto 0;
	text-align: center;

}

.intro_header h1{
	height: 100px;
	font-size: 70px;
}

.btn_top {
	padding: 25px 100px 25px 103px;
    border: 2px solid #d07c7f;
    color: #d07c7f;
    border-radius: 5px;
    letter-spacing: 4px;
    margin: 0 auto;
    background-color: #fff;
}

.btn_top:hover{
	background-color: #d07c7f;
	color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.leaf01{
    padding-right: 30px;
    margin-top: -20px;
}

.leaf02 {
    margin-left: -65px;
}
/* =========================================
   eyecatch
   ========================================= */
.heart{
	float: left;
    background-image: url("images/heart.png");
    height: 300px;
    width: 495px;
    padding-top: 130px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.heart span:first-child{
	margin-right: 10px;
	font-size: 90px;
	font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
}

.heart p:last-child {
    margin-top: -20px;
}

.details{
	float: left;
    padding: 110px 0 110px 70px;

}

#oneday_send, #oneday_receive, #most_send, #most_receive{
	padding: 0 15px;
    font-size: 30px;
    color: #d07c7f;
    font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
}

.intro p{
    margin: 40px 0 70px;
	line-height: 3;
    font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	font-size: 18px;
}

.intro_img{
	width: 250px;
}
/* =========================================
   aicotoba
   ========================================= */
.my_aicotoba{
	clear: both;
	height: 820px;
	background-color: #e6bcbd;
}

.word {
	position: relative;
	padding: 40px;
	height: 450px;
	margin-top: 50px;
    border: 3px dotted #666;
    border-radius: 20px;
    overflow: hidden;
}

.lovers_aicotoba{
	position: relative;
	height: 820px;
	background-color: #94c7df;
}

/* =========================================
   message
   ========================================= */
.message{
	height: 350px;
   	background-image: url("images/message.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.message p {
    margin-top: 19px;
    text-align: center;
    color: #fff;
    font-family: Hannari;
    font-size: 23px;
    font-weight: 100;
    line-height: 2;
}

/* =========================================
   sns
   ========================================= */
.share{
	background-color: #f8f2ec;
}

.twitter a{
    background-image: url("images/twitter.png");
    float: left;
    padding-top: 90px;
    margin: 40px 70px 0 190px;
    width: 287px;
    height: 156px;
    color: #fff;
    text-align: center;
}

.twitter a:hover{
    background-image: url("images/twitter_hover.png");
    -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.facebook a{
    background-image: url("images/facebook.png");
    float: left;
    margin: 40px 190px 0 70px;
    padding-top: 90px;
    width: 287px;
    height: 156px;
    color: #fff;
    text-align: center;
}

.facebook a:hover{
    background-image: url("images/facebook_hover.png");
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.share span {
    margin-left: 10px;
    vertical-align: -3px;
    letter-spacing: 2px;
}

.share .aicotoba {
    margin: 0 6px 0 10px;
    letter-spacing: 6px;
    vertical-align: 4px;
}

/* =========================================
   footer
   ========================================= */

footer{
	height: 70px;
	background-color: #48433e;
	color: #fff;
	text-align: center;
}

footer .wrapper{
	padding: 0;
}

small p {
    margin-top: 25px;
}

/* =========================================
   friend list
   ========================================= */

.friend_list{
	text-align: center;
}

.friend_list p{
	margin-bottom: 50px;
	font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	font-size: 24px;
}

.friend_list img{
	width: 100px;
	height: 100px;
}

.friend_list table{
	width: 600px;
	margin: 50px auto;
	text-align: left;
}

.list{
	height: 250px;
	width: 800px;
	margin: 0 auto 80px;
	overflow: scroll;
	border: 1px solid #e9e9e9;
	background-color: #fff;
	-webkit-box-shadow:5px 5px 20px 0 rgba(200,200,200,0.1) inset;
	-moz-box-shadow:5px 5px 20px 0 rgba(200,200,200,0.1) inset;
	box-shadow:5px 5px 20px 0 rgba(200,200,200,0.1) inset;
}

.friend_list table td:first-child{
	width: 280px;
}

.friend_list table td:last-child {
    margin-left: 60px;
    padding-left: 240px;
}

.friend_list tr {
    margin-bottom: 30px;
    height: 100px;
    display: block;
}

.btn_start {
	margin: 0 auto;
	padding: 25px 180px 25px 183px;
	background-color: #fff;
    border: 2px solid #d07c7f;
    color: #d07c7f;
    border-radius: 5px;
    letter-spacing: 4px;
}

.btn_start:hover{
	background-color: #d07c7f;
	color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

/* =========================================
   result
   ========================================= */

.result_title{
   	margin-bottom: 50px;
	font-family: "Angelina","Hannari";
	font-size: 35px;
    text-align: center;
}

.result_name{
   	font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
}

.result_message{
	height: 530px;
	background-image: url("images/message.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.result_message p {
 	margin-bottom: 60px;
    text-align: center;
    color: #fff;
    font-family:  Hannari;
    font-weight: 100;
	line-height: 3;
    font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	font-size: 18px;
}

.result_btn {
	margin: 0 auto;
	padding: 25px 100px 25px 103px;
    border: 2px solid #d07c7f;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 4px;
	border: 2px solid #fff;
}

.result_btn:hover{
	background-color: #fff;
	color: #666;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

/* =========================================
   loading
   ========================================= */

.loading {
	position: fixed;
    background-image: url("images/heart.png");
    height: 430px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    color: #fff;
    background-position: center;
    background-color: rgba(225,225,225,0.8);
}


.loading p:first-child{
	margin-top: 130px;
	font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	font-size: 18px;
}


.loading p:last-child{
	font-family: "TsukuBRdGothic-Regular","Hiragino Maru Gothic Pro", "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック", Osaka, sans-serif;
	font-size: 90px;
	margin-top: -10px;
	-webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

@media screen and (max-width:480px) {
}






